# docker-compose parameters
# docker compose project name
PROJECT_NAME=gambia


# DB variables
# ----------------------------------------
DB_NAME=openimis
DB_USER=openimis
DB_PASSWORD=IMISuserP@s
# Image tag to use (develop...)
DB_TAG=blsq
# Uncomment the line below to intiate the database with the DEMO dataset, it will create an empty openIMIS database otherwise
#INIT_MODE=demo

# Choose either Postgres or MSSQL config. Comment the other

# Postgres Config
DB_PORT=5432
DB_ENGINE=django.db.backends.postgresql

# MSSQL config
# DB_PORT=1433
# DB_ENGINE=mssql
# ACCEPT_EULA=y


# BE variables
# ----------------------------------------
DJANGO_LOG_LEVEL=WARNING
# django log handler (currently: degub-log (default), db-queries, console)
DJANGO_LOG_HANDLER=debug-log
# should the database be migrated at every container startup. Will be done anyway if $SITE_ROOT=api
DJANGO_MIGRATE=True
DJANGO_DEBUG=True
# BE assembly image tag (develop...)
BE_TAG=niger23
# site root for backend
# SITE_ROOT=api
DB_HOST=db


# FE variables
# ----------------------------------------
# url of openimis, FQDN
NEW_OPENIMIS_HOST=localhost
# http port for openimis
HTTP_PORT=80
# https port for openimis
HTTPS_PORT=443
# one-liner json config for the FE (to override the openimis.json from the FE assembly)
# OPENIMIS_FE_CONF_JSON=
# FE assembly, image tag (develop...)
FE_TAG=niger23
